* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
.wp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.page {
  background-size: 100% 100%;
}
.page-1 {
  background-image: url('../img/01/bg.jpg');
}
.page-2 {
  background-image: url('../img/02/bg1.jpg');
}
.page-3 {
  background-image: url('../img/03/bg.jpg');
}
.page-4 {
  background-image: url('../img/04/bg.jpg');
}
.page-5 {
  background-image: url('../img/05/bg.jpg');
}
.page-6 {
  background-image: url('../img/06/bg.jpg');
}
.page-7 {
  background-image: url('../img/07/bg.jpg');
}
.page-8 {
  background-image: url('../img/08/bg.jpg');
}
.page-9 {
  background-image: url('../img/09/bg.jpg');
}
.item {
  width: 100%;
  height: 100%;
  display: flex;
}
.item-1 {
  flex-direction: column-reverse;
  align-items: center;
}
.item-1 .title {
  width: 80%;
  margin-bottom: 5rem;
}
.item-2,
.item-5,
.item-6 {
  align-items: center;
  padding: 0 2rem;
}
.item-2 .title,
.item-5 .title,
.item-6 .title {
  width: 7rem;
  height: auto;
}
.item-3,
.item-4 {
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}
.item-3 .title,
.item-4 .title {
  width: 7rem;
  height: auto;
}
.item-7 {
  justify-content: center;
}
.item-7 .title {
  width: 80%;
}
.item-7 h5 {
  color: #fff4e4;
  margin: 7rem 0 0 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}
.item-8 {
  margin-left: 2rem;
}
.item-8 h5 {
  color: #fff4e4;
  margin: 7rem 0 0 0;
  text-align: left;
  font-size: 2.3rem;
  font-weight: 300;
}
.item-8 .kuang {
  background: #e17b15;
  padding: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
.item-9 {
  justify-content: center;
  align-items: center;
}
.item-9 .title {
  width: 60%;
  position: relative;
  top: -6rem;
}
.music {
  position: absolute;
  z-index: 1000;
  right: 0px;
  top: 0px;
  padding: 10px;
  width: 25px;
  height: 25px;
}
.music .music-btn {
  display: block;
  padding-left: 1px;
  width: 25px;
  height: 25px;
  background-image: url(../img/qita/music-1.png);
  background-size: 100% 100%;
}
.music .music-btn.play {
  background-image: url(../img/qita/music-0.png);
}
